@import "mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}


#feed{
  padding: 0 5rem;

  .card{
    margin: 2rem;
    @include shadow
  }

  .image-container{
    position: relative;
    width: 100%;
    height: 500px;
  }

  .star-yellow{
    color: #ffcd3c;
  }

  .star-grey{
    color: grey;
  }

  .alternate{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

#loader{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}